@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100&family=Rowdies:wght@700&family=Special+Elite&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.introtitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    color: ghostwhite;
    background: #202731;
    overflow-x: hidden;
}

h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#3dc480;
    font-family: 'Rowdies', cursive;
}

h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#3dc480;
    font-family: 'Rowdies', cursive;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    padding: 30px 10vw;
}

.ciphertext {
    background: #3d2750;
    color: #3dc480;
    font-family: 'Rowdies', cursive;
}

.ciphertext p {
    color: ghostwhite;
    font-family: 'Special Elite', cursive;
}

.paper {
    background: #202731;
}

.spacer {
    aspect-ratio: 1600/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./wave-grfx.svg');
}

.layer2 {
    background-image: url('./wave-grfx2.svg');
}

.layer3 {
    background-image: url('./waves-grfx3.svg');
}

.layer4 {
    background-image: url('./waves-grfx4.svg');
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(246% + 1.3px);
    height: 84px;
}

.wave .shape-fill {
    fill: #6E478E;
}